<%= notice_tag notice %>
<%= render_cell :dashboard, :timeline %>
<div class="row mt1">
  <div class="col-md-3">
    <%= render_cell :dashboard, :smartfinders %>
  </div>
</div>
<div id="modal-form"></div>