.panel.panel-default
  .panel-heading
    %h3
      商机
      %span.red= company.deals.accessible_by(current_ability).count
  %table.table.table-striped.table-hover
    %thead
      %th 金额
      %th 名称
      %th 状态
      %th 类型
      %th 最新活动
      %th 预计成交于
      %th 联系人
      %th 更新于
    %tbody
      %tr
        - company.deals.accessible_by(current_ability).page(params[:page]).order("updated_at DESC").each do |deal|
          = render partial: "crm/deals/deal", locals: { deal: deal }
.text-center
  = paginate company.deals.accessible_by(current_ability).page(params[:page]), { :params => { :controller => params[:controller], :action => "show", children: "deals" } }
