= simple_form_for(@user, :url => change_password_path(@user.id)) do |f|
  .row
    .form-group.col-xs-3
      = f.input :password, label: '新密码', required: true, input_html:{ class: "form-control", autofocus: true, placeholder: ">8" }
  .row
    .form-group.col-xs-3
      = f.input :password_confirmation, label: '再次输入密码', required: true, input_html:{ class: "form-control" }
  = f.submit "保存密码", class: "btn btn-warning btn-lg"
