var tr = $("#income-<%= @fm_income.id %>");
var num = tr.parent("tbody").parent("table").attr("data-cols");
$(".ajax-form").empty();

tr.html("<td colspan='" + num + "'><%= escape_javascript(render 'fm/incomes/form') %></td>");

defaultInit();