.alert.alert-warning.form-inline.mt1
  %a.close{"aria-hidden" => "true", "data-dismiss" => "alert", :href => "#"} &times;
  = simple_form_for(@user, :url=>{:action=>:add}, remote: true) do |f|
    .form-group
      = f.input :username, label: false, placeholder: '用户名', required: true, input_html: { class: "form-control" }
    .form-group
      = f.input :email, label: false, placeholder: '邮箱', required: true, input_html: { class: "form-control" }
    = f.submit "提交", class: "btn btn-success"
