.page-header
  %h1
    = @user.email
    的用户设置
.col-md-2
  %ul.nav.nav-pills.nav-stacked
    %li.active
      %a{"data-toggle" => "tab", :href => "#profile"} 个人信息
    %li
      %a{"data-toggle" => "tab", :href => "#more"} 详细信息
    %li
      %a{"data-toggle" => "tab", :href => "#password"} 修改密码
    / - if can? :manage, User
    /   %li
    /     %a{"data-toggle" => "tab", :href => "#authority"} 权限设置
.col-md-10
  .tab-content
    #profile.tab-pane.active
      = render "users/settings/profile"
    #more.tab-pane
      = render "users/settings/more"
    #password.tab-pane
      = render "users/settings/password"
    / - if can? :manage, User
    /   #authority.tab-pane
    /     = render "users/settings/authority"