.alert.alert-warning.row
  %a.close{"aria-hidden" => "true", "data-dismiss" => "alert", :href => "#"} &times;
  = simple_form_for(property, remote:true) do |f|
    .form-group.col-md-5
      = f.input :name, label: false, required: true, placeholder: "名称...", input_html: { class: "form-control" }
    = f.submit "提交", class: "btn btn-success .col-md-5"
