.alert.alert-warning.mt1.row
  %a.close{"aria-hidden" => "true", "data-dismiss" => "alert", :href => "#"} &times;
  = simple_form_for(@role, remote: true) do |f|
    .form-group.col-md-8
      = f.input :name, label: false, placeholder: '名称', required: true, input_html: { class: "form-control" }
    = f.submit "提交", class: "btn btn-success col-md-2"