%h1.clearfix
  %span.pull-left
    权限管理
    %span.red
      共#{@roles.size}个
  = link_to "新增权限", new_role_path, remote: true, class: "btn btn-primary pull-right"
.ajax-form
%table.table.table-striped.table-hover
  %thead
    %tr
      %th 名称
      %th ID
      %th 操作
  %tbody
    - @roles.each do |role|
      = render partial: "roles/role", locals: { role: role }
