%h1.clearfix
  %span.pull-left
    组织架构
    \#{all_count_tag @organizations}
  = link_to "新增分支", new_organization_path, remote: true, class: "btn btn-primary pull-right"
  = link_to '组织架构管理', manage_organizations_path, class: "btn btn-warning pull-right mr1"
.ajax-form
%table.table.table-striped.table-hover
  %thead
    %tr
      %th ID
      %th 名称
      %th 父级
      %th 操作
  %tbody
    - @organizations.each do |organization|
      = render partial: "organizations/organization", locals: { organization: organization }
/ .text-center
/   = render partial: "layouts/page", locals: { objects: @organizations }
